.codex-container {
    width: calc(100% - 10px);
    background: rgb(101, 245, 255);
    background: -moz-linear-gradient(
        180deg,
        rgba(101, 245, 255, 1) 50%,
        rgba(19, 173, 189, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(101, 245, 255, 1) 50%,
        rgba(19, 173, 189, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(101, 245, 255, 1) 50%,
        rgba(19, 173, 189, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65f5ff",endColorstr="#13adbd",GradientType=1);

    padding: 6px;
    color: #fff;
    border-radius: 6px;
}

.codex-description-input {
    width: calc(100% - 15px);
    height: 150px;
    font-family: "Courier New", Courier, monospace;
    resize: none;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 15px;
    padding: 6px;
}

.context-checkbox-container {
    margin-top: 8px;
    font-size: 14px;
}

.codex-feedback {
    margin-top: 8px;
    font-size: 15px;
}

.codex-description-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #000;
}

/* .default-inline {
    background-color: #fff !important;
    border-radius: 15px;
    padding: 2px 8px;
    font-family: "Courier New", Courier, monospace;
} */

.keyword {
    color:#00538c;
    font-weight: 600;
    background-color: #fff;
    border-radius: 15px;
    padding: 2px 8px;
    font-family: "Courier New", Courier, monospace;
}

.variable {
    color:#8c5900;
    font-weight: 600;
    background-color: #fff;
    border-radius: 15px;
    padding: 2px 8px;
    font-family: "Courier New", Courier, monospace;
}

.build-in-function {
    color:#1e8c00;
    font-weight: 600;
    background-color: #fff;
    border-radius: 15px;
    padding: 2px 8px;
    font-family: "Courier New", Courier, monospace;
}

.operation {
    color:#8c1023;
    font-weight: 800;
    font-size: larger;
    background-color: #fff;
    border-radius: 15px;
    padding: 2px 8px;
    font-family: "Courier New", Courier, monospace;
}

.self-defined-function {
    color:#008c85;
    font-weight: 600;
    background-color: #fff;
    border-radius: 15px;
    padding: 2px 8px;
    font-family: "Courier New", Courier, monospace;
}

.module {
    color:#8c1058;
    font-weight: 600;
    background-color: #fff;
    border-radius: 15px;
    padding: 2px 8px;
    font-family: "Courier New", Courier, monospace;
}

.hoverable-code-line-explanation {
    z-index: 99;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #91d8dc;
    color: #000;
    padding: 12px;
    line-height: 30px;
    border-radius: 0 0 6px 6px;

    width: 75%;
}

.monaco-code-writer{
    height: calc(55% - 2px);
    border: solid 1px #ccc;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.hoverable-code-container {
    margin-bottom: 12px;
}

.hoverable-code-line-container {
    position: relative;
    background-color: #fff;
}

.hoverable-code-header {
    padding: 12px 16px;
    border-radius: 12px 12px 0 0;
    /* background-color: #005fb8; */
    border: solid 1px #0a16c0;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.hoverable-code-line-container .hoverable-code {
    line-height: 30px;
    cursor: pointer;
    display: block;
    padding: 0 0 0 16px;
}

.hoverable-code-line-container:hover {
    /* background-color: #003575; 
    color: #fff; */
    border-radius: 12px;
    border: solid 1px #0a16c0;
}

.hoverable-code-line-container .exp-inline-code {
    font-family: "Courier New", Courier, monospace;
    padding: 2px 8px;
    background-color: #00538c;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
}

.hoverable-code-content {
    padding: 12px;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    border: 1px solid #1e4976;

    /* background-color: #001a41; */
}

.pesudo-code-reader{
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    line-height: 30px;
    background-color: #edf8f9; 
    border-radius: 15px;
}

mark {
    background: var(--color-accent);
    color: var(--color-text);
    font-weight: bold;
    padding: 0 0.2em;
  }
  
  .card-question {
    background: var(--color-background);
    padding: 1vw;
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    overflow-y: auto;
    
    &--inverted {
      --color-background: var(--color-dark);
      color: var(--color-light);
      --color-shadow: var(--color-accent);
    }
    
    &--accent {
      --color-background: var(--color-signal);
      --color-accent: var(--color-light);
      color: var(--color-dark);
    }
    
    *:first-child {
      margin-top: 0;
    }
  }
  
  
  .l-design-widht {
    max-width: 40rem;
    padding: 1rem;
  }

  
  .input-question {
    position: relative;
    
    &__label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
      margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
      background: pink;
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      background: var(--color-background);
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 3px solid currentColor;
      padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
      color: currentColor;
      background: transparent;
      border-radius: var(--size-radius);
      
      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(.25rem, -65%) scale(.8);
          color: var(--color-accent);
        }
      }
    }
  }

.response-header-icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}