.pesudocode-container-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100%);
}

.pesudo-code-reader {
    overflow-y: scroll;
}

.pesudocode-writer-container {
   width: 40%; 
}

.verifying-button {
    background-color: rgb(234, 118, 234) !important;
}

.hoverable-code-hint-level-1 .default-inline {
    color: black;
}

.pesudo-code-reader{
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    line-height: 30px;
    border-radius: 15px;
    margin-right: 1rem;
    width: 60%;
}

.hoverable-code-footer {
    height: 100px;
}
.monaco-code-writer{
    height: 40vh;
    border: solid 1px #ccc;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.pesudocode-container-div .output {
    background-color: #023231;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    overflow-y: auto;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;
    width: 40vw;
    padding: 12px 0 12px 0;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 28px - 40vh - 2.5rem - 50px);
}

.pseudocode-verify-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px !important;
}

.pseudocode-verify-button-container span{
    color:green;
    font-weight: 600;
    font-size: 18px;
}

.modal-body p {
    margin: 0.5rem 0rem;
    padding: 0.5rem;
    border-radius: 6px;
    overflow-y: auto;
}

.pesudocode-container-div .output p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 12px 2px 12px;
}

.pesudocode-container-div .editor-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
    height: 40px;
    width: 100%;
}

.hoverable-code-container {
    margin-bottom: 12px;
}

.hoverable-code-header {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.hoverable-code-line-container {
    position: relative;
    background-color: #fff;
}

.hoverable-code-content-container{
    visibility:hidden;
    margin-bottom: 2vh;
    height: 6vh;
}

.hoverable-code-content-container.expand {
    visibility: visible;
    margin-bottom: 2rem;
    height: fit-content;
}

.hoverable-code-line-container .hoverable-code {
    line-height: 30px;
    cursor: pointer;
    display: block;
    padding: 0 0 0 16px;
}

.hoverable-code-line-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.hoverable-code-line-container:hover {
    border-radius: 12px;
}

.hoverable-code{
    padding: 0.5rem !important;
    font-size: 18px;
}

.hoverable-code-line-container .exp-inline-code {
    font-family: "Courier New", Courier, monospace;
    padding: 2px 8px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
}

.default-inline {
    background-color: rgba(182,184,230,255);
    padding: 4px;
    border-radius: 4px;
}

.hoverable-code-container .hoverable-code {
    line-height: 30px;
    cursor: pointer;
    display: block;
    padding: 0 0 0 16px;
    background-color: rgba(205,224,230,255);
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 6px;
}

.hoverable-code-hint-level-1-button {
    background-color: #c4b733;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 800;
}

.hoverable-code-hint-level-2 {
    background-color: rgba(170,172,216,255);
    padding-left: 12px;
    user-select: none;
}

.hoverable-code-hint-level-1 {
    padding: 12px;
    background-color: rgba(26,65,77,255);
}


.hoverable-code-container-with-hint{
    z-index: 99;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: rgba(38,96,114,255);
    color: #fff;
    line-height: 30px;
    border-radius: 0 0 6px 6px;

    width: 75%;
}

.pseudocode-verify-button-container button {
    background-color: #0baa0b;
    outline: none;
    border: none;
    float: right;
    margin-right: 1rem;
}

.hoverable-code-line-explanation {
    padding: 12px;
}

.hoverable-code-line-explanation .default-inline{
    background-color: rgba(198,220,227,255);
    color:#023231;
    padding: 4px;
    border-radius: 4px;
}

.expandable-button{
    width: 2.5rem;
    height: 2.5rem;
    color: rgba(5,164,255,255);
}

.expandable-button.minus{
    color: rgba(135,77,193,255);
}

