.reveal-container{
    height: 100%;
    overflow-y: auto;
    width: 45%;
}

.reveal-question-container {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    width:90%;
}

.reveal-question-content-container, .reveal-correct-answer-container,  .reveal-wrong-answer-container{
    margin: 10px 0px;
    margin-bottom: 20px;
}

.reveal-parent-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 4rem);
}

.reveal-subgoal-container {
    width: 100%;
}

.reveal-code-container {
    margin-top: 5px;
    display: block;
}

.reveal-question-container .highlighted-code-part{
    font-size: 16px !important;
    background-color: aliceblue !important;
    padding: 5px;
}

.reveal-code-container .highlighted-code-part{
    font-size: 16px !important;
}

.reveal-code-container.active {
    visibility: visible;
}

.reveal-code-container.inactive {
    visibility: hidden;
}

.reveal-code-line-by-line-container {
    width: calc(55% - 10px);
    margin-left: 10px;
    height: 100%;
    overflow-y: auto;
}

.bottom-margin {
    height: 3rem;
}

.reveal-question-container.answered {
    background-color: rgba(204,227,255,255);
    opacity: 0.7;
}

.reveal-question-content {
    background-color: rgba(204,227,255,255);
    padding: 2px !important;
    display: inline;
    border-radius: 8px !important;
}

.reveal-lead-textbox {
    width: 100%;
}

.reveal-submit {
    width: 80px;
    margin: 5px;
}

.reveal-short-answer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 5px;
}

.reveal-select-container.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: black;
    background-color: rgba(238, 142, 174, 0.252);
    align-items: center;
}

.reveal-question-container h1 {
    padding: 5px;
    margin: 0;
    font-size: 1.2rem;
}


.reveal-select-dot{
    border: 1px solid rgba(52,158,255,255);
    border-radius: 50%;
    padding: 10px;
    margin: 2px 8px;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
}

.reveal-select-container {
    display:flex;
    font-size: 1rem;
}

.reveal-select-container p {
    margin: 2px 8px;
    padding: 0;
    font-size: 1rem;

}

.reveal-select-container:hover {
    cursor: pointer;
}

.reveal-answer{
    display: none;
}

.reveal-select-container:hover .reveal-select-dot {
    background-color: rgba(204,227,255,255);
}

.code-reveal-container {
    margin:10px;
}

.reveal-question-container {
    display: none;
  }
  
  .reveal-question-container.active {
    display: block;
  }
  
  .code-reveal-container {
    display: none;
  }
  
  .code-reveal-container.active {
    display: block;
  }
  

.reveal-correct-answer {
    background-color: aquamarine;
    border-radius: 15px;
}

.reveal-wrong-answer {
    background-color: rgba(238, 142, 174);
    border-radius: 15px;
}

.reveal-wrong-answer-container, .reveal-correct-answer-container {
    display: block;
}

.reveal-wrong-answer-container.active, .reveal-correct-answer-container.active{
    display: block;
}

.reveal-select-all {
    margin-bottom: 10px;
}

.reveal-select-all.inactive{
    display:none;
}

.subgoal-title-display h1{
    font-size: 16px;
    background-color: #ECEBEB;
    padding: 10px;
    font-weight: normal;
    display: inline-block;
}

.reveal-line-by-line-container-header{
    padding: 0;
    margin: 0;
}

.reveal-code-container .hoverable-code-container-with-hint{
    position: absolute;
    top: 0px;
    width: 50%;
    background-color: #89baffd9;
    color: black;
}

.flex-box-for-line-by-line {
    display: flex;
    justify-content: flex-end;
    /* margin-left: 5rem; */
    position: relative;
}

.explanation-after-reveal {
    background-color: aquamarine;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.reveal-hint-mcq-incorrect {
    background-color: rgba(238, 142, 174);
    margin-top: 10px;
    padding: 5px;
}