.reveal-container{
    height: 65vh;
    overflow-y: scroll;
}

.reveal-question-container {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    width:60%;
}

.reveal-question-content-container, .reveal-correct-answer-container,  .reveal-wrong-answer-container{
    margin: 10px 0px;
    margin-bottom: 20px;
}

.reveal-subgoal-container {
    display: flex;
    align-items: top;
}

.reveal-code-container {
    margin-left: 3rem;
    margin-top: 40px;
    display: none;
}

.reveal-code-container.active {
    display: block;
}

.reveal-question-container.answered {
    background-color: rgba(204,227,255,255);
    opacity: 0.7;
}

.reveal-question-content {
    background-color: rgba(204,227,255,255);
    padding: 5px;
    display: inline;
    border-radius: 8px;
}

.reveal-select-container.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: black;
    background-color: rgba(238, 142, 174, 0.252);
}


.reveal-select-dot{
    border: 1px solid rgba(52,158,255,255);
    border-radius: 50%;
    padding: 10px;
    margin: 10px 8px;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
}

.reveal-select-container {
    display:flex;
    font-size: 1rem;
}

.reveal-answer{
    display: none;
}

.reveal-select-container:hover .reveal-select-dot {
    background-color: rgba(204,227,255,255);
}

.code-reveal-container {
    margin:10px;
}

.reveal-question-container {
    display: none;
  }
  
  .reveal-question-container.active {
    display: block;
  }
  
  .code-reveal-container {
    display: none;
  }
  
  .code-reveal-container.active {
    display: block;
  }
  

.reveal-correct-answer {
    background-color: aquamarine;
    border-radius: 15px;
}

.reveal-wrong-answer {
    background-color: rgba(238, 142, 174);
    border-radius: 15px;
}

.reveal-wrong-answer-container, .reveal-correct-answer-container {
    display: block;
}

.reveal-wrong-answer-container.active, .reveal-correct-answer-container.active{
    display: block;
}

.reveal-select-all.inactive{
    display:none;
}