/* Timeline container */
.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -5px;
    margin-top: 40px;
    width: 60%;
    align-self: flex-end;
}

.legend {
    align-self: flex-start;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 240, 217, 255);
}

.excution-generator {
    padding-bottom: 2rem;
    overflow-y: scroll;
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timeline-slider {
    width: 100%;
    padding: 0 20px;
}

.slider {
    width: 30vw;
    background-color: #ccc;
    position: relative;
    border-radius: 20px;
}

/* Slider handle (rectangle) */
.slider::-webkit-slider-thumb {
    width: 16px; /* Width of the rectangle handle */
    height: 20px; /* Height of the rectangle handle */
    background-color: #007bff; /* Handle color */
    border: none;
    border-radius: 0; /* Remove border-radius to make it rectangular */
}

/* Slider handle (rectangle) on hover */
.slider::-webkit-slider-thumb:hover {
    background-color: #0056b3; /* Handle hover color */
}

/* Timeline controls (buttons) */
.controls {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    width: 80%;
}

/* Button styles (customize as needed) */
.timeline-container button {
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #e4e5e6;
    color: #0056b3;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Button hover effect */
}

.timeline-container button:hover {
    background-color: #b6b8b9; /* Button hover color */
}

.step-by-step-timeline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.print-container .quick-editing-buttons-container {
    border-top-right-radius: 6px;
}

.print-container .print-output {
    background-color: #023231;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    overflow-y: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: relative;
    height: 25vh;
    padding: 12px 0 12px 0;
    width: 100%;
    margin-right: 20px;
}

.print-container .print-output p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 12px 2px 12px;
}

.content-wrapper {
    border: #353535 solid 1px;
    margin-top: 1rem;
    border-radius: 6px;
    background-color: rgba(228, 255, 254, 255);
}

.open-variables-button {
    margin-left: 20px;
}

.frame {
    overflow-y: scroll;
    margin-right: 0;
    flex: 1;
    height: 80%;
}

.objects {
    flex: 1; /* Each div takes equal width */
    margin-right: 10px; /* Add margin for spacing */
}

.step-by-step-read-container {
    margin-bottom: 10px;
    width: 60%;
    margin-top: 20px;
    margin-right: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-item svg {
    margin-right: 5px;
}

.flexButton {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.code-container {
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.step-by-step-code-container {
    height: 35vh;
    overflow-y: scroll;
    border-radius: 6px;
    border: #353535 solid 1px;
}

.current-arrows-container {
    width: 5px;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.green-arrow {
    color: green;
    font-size: 25px;
    opacity: 0.5;
}

.red-arrow {
    color: red;
    font-size: 25px;
}

.arrow {
    padding-left: 4px;
    /* margin-top: 5px; */
}

.line {
    height: 33px;
    margin-top: 2px;
}

.myCurrentLineDecoration {
    background: green;
    opacity: 0.3;
}

.myNextLineDecoration {
    background: red;
    opacity: 0.3;
}

.excution-container {
    width: 40%;
    margin-left: 10px;
    margin-right: 12px;
    height: 68vh;
}

.code-editor {
    width: 100%;
    background: #fafafa;
    color: #353535;
    margin-right: 20px;
    font-family: Menlo, Monaco, "Courier New";
    border-radius: 5px;
    overflow-y: hidden;
}

.frame-container {
    color: #333; /* default color for font */
    padding: 5px; /* Adding some padding */
    font-family: "Courier New", Courier, monospace; /* Changing font */
    border-bottom: #353535 dashed 1px; /* Adding a border to the bottom */
    padding-left: 20px;
}

.frame-container p:first-child {
    font-weight: bold; /* Making the item.name bold */
    margin-right: 10px; /* Adding some margin to the right for spacing */
}

.frame-container p:last-child {
    flex-grow: 1;
}
/* 
.frame-container.int {
  color: rgb(63, 81, 181)
}

.frame-container.str {
  color: rgb(0, 188, 212);
}

.frame-container.bool {
  color: rgb(46, 125, 50); 
}

.frame-container.dict {
  color: rgb(255, 87, 34); 
}

.frame-container.list {
  color: rgb(233, 30, 99);
}

.frame-container.tuple {
  color: rgb(156, 39, 176);
} */

.timeline-container .controls button:disabled {
    background-color: #bbbdbf;
    cursor: not-allowed;
}

.frame .hint {
    color: red;
}

.timeline-icon {
    color: #0056b3;
    width: 2rem;
    height: 2rem;
}

.step-by-step-timeline-container.inactive {
    opacity: 0.4;
}

.step-by-step-questions-container {
    opacity: 0.4;
    border-radius: 6px;
    border: #353535 solid 1px;
    width: 100%;
    margin-top: 20px;
    height: 70%;
    background-color: rgba(220, 230, 255, 255);
}

.step-by-step-questions-container.active {
    opacity: 1;
}

.step-by-step-questions-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: rgba(186, 206, 255, 255);
    border-bottom: #353535 solid 1px;
    color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.step-by-step-frame-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: rgba(201, 255, 254, 255);
    border-bottom: #353535 solid 1px;
    color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.step-question-content {
    background-color: rgba(220, 230, 255, 255);
    overflow-y: scroll;
    height: 85%;
    margin-bottom: 10px;
}

.barIcon {
    width: 2rem;
    height: 2rem;
}

.steps-question-div {
    border-bottom: #353535 solid 1px;
}

.step-question-container {
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.step-question-content .question {
    padding-left: 20px;
    margin-bottom: 0px;
}

.step-question-content .question span {
    background-color: rgba(168, 107, 225, 0.615);
    padding: 4px;
    border-radius: 12px;
}

.question span.variable {
    background-color: #00538c !important;
    color: #fff;
    padding: 5px;
    font-weight: 700;
}

.question-input {
    height: 1.5rem;
    width: 70%;
}

.question-submission-button {
    padding: 7px 0px;
    width: 20%;
    background-color: rgb(0, 152, 255);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 20px;
}

.question-submission-button:hover {
    background-color: rgb(0, 122, 204);
}

.step-answered-container {
    /* justify-content: space-evenly; */
    padding-left: 20px;

}

.step-answered-container-correct {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.feedback-from-step {
    /* overflow-x: auto; */
    width: calc(100% - 20px);
    overflow-y: auto;
    max-height: 100px;
    border-radius: 15px;
    /* padding: 5px; */
    margin-right: 10px;

    background-color: rgba(245, 205, 207, 255);
}

.feedback-from-step p {
    padding: 5px;
}

.step-answered-container-feedback {
    padding-top: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.step-answered-container .wrong {
    background-color: rgba(245, 205, 207, 255);
    padding: 5px;
    border-radius: 12px;
}

.step-answered-container .correct {
    background-color: rgba(192, 228, 188, 255);
    padding: 5px;
    border-radius: 12px;
    justify-content: space-evenly; 
}

.question-submission-button:disabled {
    background-color: #bbbdbf;
    cursor: not-allowed;
}

.trace-code-container {
    width: 100%;
    z-index: 99;
    margin-left: 50px;
}

.trace-predict-tracker {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    width: 100%;
    height: 35px;
}

.trace-predict-tracker pre{
    margin: 5px;
    padding: 0;
    font-size: 16px;
}

.trace-line-number {
    margin-left: 30px;
}

.highlighted-trace-predict{
    background-color: #0077ff52;
}

.additional-line-div {
    height: 70px;
}

.overall-explanation {
    background-color: rgba(220, 230, 255, 255);;
    height: 100px;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

.follow-up-question {
    background-color: rgba(220, 230, 255, 255);
    padding-left: 0px;
    margin-bottom: 0px;
}

.follow-up-question p{
    margin-left: 20px;
    padding: 0px;
    font-weight: bold;
}

.follow-up-header {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

.follow-up-question-text {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.follow-up-question-input {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.follow-up-question-input .gpt-button {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: 20%;
}

.follow-up-question-feedback {
    background-color: rgba(245, 205, 207, 255);
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
    overflow-y: auto;
    max-height: 100px;
}

.follow-up-question-feedback.correct{
    background-color: rgba(192, 228, 188, 255);
}

.follow-up-question-feedback.normal{
    background-color: rgba(220, 230, 255, 255);
}