
.write-over-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(70vh  - 4rem);
    overflow-y: scroll;
}
  .writeover-code-reader {
    padding: 1rem;
    background-color: #fff;
    font-size: 20px;
    overflow: auto;
  }

  .writeover-code-reader:focus {
    outline: none;
    border: none;
  }


  .current-code-line {
    background-color:rgba(200,239,255,255) ;
  }
  .writeover-code-reader pre{
    margin: 0;
  }

.user-input {
  opacity: 1;
  position: absolute;
  z-index: 2;
  height: 100%;
}

.remaining-text {
  color: rgb(184, 184, 184);
}

.current-code-container {
  width: 65%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: scroll;
}

.write-over-tracker {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.write-over-tracker .hoverable-codeline-explanation {
  z-index: 99;
  position:absolute;
  background-color: rgba(220,230,255,255);
  color:black;
  border-radius: 0 0 6px 6px;
  font-size: 16px;
  height: fit-content;
  margin-left: 1rem;
  align-self: flex-end;
  width: 35%;
  border: black 1px solid;
}

.explanation-write-over {
  font-size: 18px;
  padding: 10px;
  z-index: 99;
}
/* .text-span {
  height: 100%;
  display: inline-block;
  margin: 0;
} */


.writeover-cursor {
    background: rgba(0, 0, 0, 0.474);
    width: 2px;
    display: inline-block;
    height: 1rem;
    animation: blink 1s steps(1, start) infinite;
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }

  .shake-char {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: red;
    text-decoration: underline;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.highlight-correct-char{
    border-bottom: red 2px solid;
    background-color: rgba(255, 0, 0, 0.365);
}

.enter-sign {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.tab-sign {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.write-over-wrapper .score {
    margin-left: 2rem;
    font-size:20 px;
    margin-right: 0;
    opacity: 0  ;
}

.write-over-container {
    width: 100%;
    z-index: 99;
}

.remaining-text {
    width: 65%;
}

.write-over-wrapper .red {
    color: red;
    margin-bottom: 20px;
}
.write-over-wrapper .lightGreen {
    color: rgb(82, 128, 30);
    margin-bottom: 20px;
}
.write-over-wrapper .yellow {
    color: rgb(143, 143, 5);
    margin-bottom: 20px;
}
.write-over-wrapper .yellowGreen {
    color: rgb(94, 126, 31);
    margin-bottom: 20px;
}
.write-over-wrapper .green {
    color: green;
    margin-bottom: 20px;
}

.write-over-wrapper .variable-writeover{
    color:#8c5900;
}

.write-over-wrapper .build-in-function-writeover{
    color:#1e8c00;
}

.write-over-wrapper .operation-writeover{
    color:#8c1023;
}

.write-over-wrapper .self-defined-function-writeover{
    color:#008c85;
}

.write-over-reset-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.write-over-reset-text {
  background-color: #4edfd8;
  padding: 5px;
  border-radius: 15px;
}


.write-over-wrapper .string-writeover{
    color: red;
}

.write-over-wrapper .module-writeover{
    color:#8c1058;
}

.write-over-explanation{
    font-size: 16px;
    background-color: rgba(204, 202, 202, 0.593);
    padding: 5px;
    border-radius: 15px;
    margin-top: 5px;
    max-width: 20%;
    z-index: 99;
    /* position: fixed; */
}

.write-over-reset-button {
  float: right;
}

.hoverable-writeover-icon{
    opacity: 0.5;
    margin-right: 0;
    margin-bottom: 20px;
}


