
.write-over-wrapper{
    display: flex;
    justify-content: space-between;
}
  .writeover-code-reader {
    padding: 1rem;
    background-color: #fff;
    font-size: 20px;
    overflow: auto;
  }

  .writeover-code-reader:focus {
    outline: none;
  }

  .writeover-code-reader pre{
    margin: 0;
  }


.writeover-cursor {
    background: rgba(0, 0, 0, 0.474);
    width: 2px;
    display: inline-block;
    height: 1rem;
    animation: blink 1s steps(1, start) infinite;
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }

  .shake-char {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: red;
    text-decoration: underline;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.highlight-correct-char{
    border-bottom: red 2px solid;
    background-color: rgba(255, 0, 0, 0.365);
}

.enter-sign {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.tab-sign {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.write-over-wrapper .score {
    margin-left: 2rem;
    font-size:20px;
    margin-right: 0;
    opacity: 0.8;
}


.write-over-wrapper .red {
    color: red;
    margin-bottom: 20px;
}
.write-over-wrapper .lightGreen {
    color: rgb(82, 128, 30);
    margin-bottom: 20px;
}
.write-over-wrapper .yellow {
    color: rgb(143, 143, 5);
    margin-bottom: 20px;
}
.write-over-wrapper .yellowGreen {
    color: rgb(94, 126, 31);
    margin-bottom: 20px;
}
.write-over-wrapper .green {
    color: green;
    margin-bottom: 20px;
}

.write-over-wrapper .variable-writeover{
    color:#8c5900;
}

.write-over-wrapper .build-in-function-writeover{
    color:#1e8c00;
}

.write-over-wrapper .operation-writeover{
    color:#8c1023;
}

.write-over-wrapper .self-defined-function-writeover{
    color:#008c85;
}


.write-over-wrapper .string-writeover{
    color: red;
}

.write-over-wrapper .module-writeover{
    color:#8c1058;
}

.write-over-explanation{
    font-size: 14px;
    background-color: rgba(204, 202, 202, 0.593);
    padding: 5px;
    border-radius: 15px;
    margin-top: 5px;
}

.hoverable-writeover-icon{
    opacity: 0.5;
    margin-right: 0;
    margin-bottom: 20px;
}


